In [13]:
import duckdb
import pandas as pd

In [18]:
sql_query = """
show tables
"""

with duckdb.connect('../db/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                      name
0              first_model
1  parking_violation_codes
2  parking_violations_2023

In [15]:
sql_query_import_1 = """
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
    '../data/dof_parking_violation_codes.csv',
    normalize_names=TRUE
)
"""


sql_query_import_2 = """
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
    '../data/parking_violations_issued_fiscal_year_2023_sample.csv',
    normalize_names=TRUE
)
"""

with duckdb.connect('../db/nyc_parking_violations.db') as con:
    con.sql(sql_query_import_1)
    con.sql(sql_query_import_2)